<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="max-height: 300px;">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="btn-group" (click)="menuOpen = !menuOpen">
      <button class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <ul class="dropdown-menu" [class.show]="menuOpen">
        <li><a (click)="onAddToShoppingList()">Add To Shopping List</a></li>
        <li><a (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} ({{ingredient.amount}})
      </li>
    </ul>
  </div>
</div>
