<div class="row">
  <div class="col-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>

    <ul class="list-group">
      <a *ngFor="let ingredient of ingredients; let i = index" class="list-group-item" (click)="onEditItem(i)">
        {{ingredient.name}} ({{ingredient.amount}})
      </a>
    </ul>
  </div>
</div>
