<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>
            Name
            <input type="text" class="form-control" name="name" ngModel required>
          </label>
        </div>
        <div class="col-sm-2 form-group">
          <label>
            Amount
            <input type="text" class="form-control" name="amount" ngModel required [pattern]="'^[1-9]+[0-9]*$'">
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Add</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
